<footer
    class="flex flex-col items-center justify-center gap-2 p-8 bg-green-pastel text-white text-center"
>
    <main class="flex items-center justify-center gap-2">
        <img src="/assets/logo.webp" alt="Logo de J&J" class="w-56 aspect-square" />
        <p class="max-w-xs text-balance text-xl">
            La empresa de mermeladas J&J espera que sus productos cumplan tus expetativas.
        </p>
    </main>

    <small class="text-lg">
        &copy; {new Date().getFullYear()} J&J. Todos los derechos reservados.
    </small>
</footer>
