<section id="home" class="p-8 py-32 flex flex-col gap-12">
    <h2 class="font-pacifico text-5xl text-center">Nuestra Mision</h2>
    <p class="text-2xl max-w-[35ch] md:max-w-[60ch] mx-auto">
        La misión de J&J es llevar alegría a través del sabor con mermeladas naturales y deliciosas.
        Se comprometen a ofrecer placer gastronómico, tradición artesanal, conexión con la
        naturaleza, satisfacción del cliente y calidad fresca en cada frasco.
    </p>
</section>
